#webgl-container {
    position: absolute;
    top: 0;
}

.navbar-fixed-top {
    z-index: 0;
}

.navbar-text {
    line-height: inherit;
}

input {
    vertical-align: top;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: normal;
}

input[type="text"] {
    line-height: 0px;
    margin: 2px;
    height: 17px;
}

.dg select {
    margin: 1px;
    width: auto;
    height: auto;
}

#canvas-source, #video {
    display: none;
}

#inputCanvas {
    display: none !important;
}

#canvas-blended {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    /*border: 1px solid #aaa;*/

    -webkit-box-shadow: 0px 0px 4px 0px #ffffff;
    box-shadow: 0px 0px 4px 0px #ffffff;
}

.off {
    background-color: #ff0000;
}

.on {
    background-color: #00ff00;
}

#spin-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}

#spinner {
    height: 200px;
    width: 200px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;

    -webkit-mask-image: url(../images/spinner.png);
    background-color: #000;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    z-index: 2;
}

#loading-text {
    margin: 0 auto;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#2e2e2e));
    background-image: -webkit-linear-gradient(top, white, #2e2e2e);
    background-image:    -moz-linear-gradient(top, white, #2e2e2e);
    background-image:      -o-linear-gradient(top, white, #2e2e2e);
    background-image:         linear-gradient(to bottom, white, #2e2e2e);

    z-index: 1;
}